/* Header/logo Title */

.header {
    padding: 10px;
    text-align: center;
    background: #20607e;
    color: #f0f1f2;
}

.loginlink {
    color: #f0f1f2;
    text-decoration: none;
}

body {
    
    margin: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: #f0f1f2;
    align-content: center;
    justify-content: center;
}

p {
    padding-bottom: 10px;
}

/* Footer */

footer {
    padding: 20px;
    background: #333;
    justify-content: center;
    color: #f0f1f2;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: -250px;
}

li {
    margin-left: 50px;
}

ul li:not(:first-child)::before {
    content: "\2022";
    color: #f0f1f2;
    font-weight: bold;
    display: inline-block; 
    width: 2em;
    margin-left: -1em;
  }


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
    body {
        width: 100%;
    }
}