/* Header/logo Title */
* {
    font-family: var(--groupui-vwag-font-family);
}

.header {
    padding: 10px;
    text-align: center;
    background: var(--groupui-vwag-color-petrol-1000);
    color: var(--groupui-vwag-color-white);
}

.nav {
    padding: 2px;
    text-align: left;
    background: var(--groupui-vwag-color-petrol-900);
    color: var(--groupui-vwag-color-white);
}

.loginlink {
    color: var(--groupui-vwag-color-white);
    text-decoration: none;
}

body {
    margin: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: var(--groupui-vwag-color-white);
    align-content: center;
    justify-content: center;
}

p {
    padding-bottom: 10px;
}

/* Footer */

footer {
    padding: 20px;
    background: var(--groupui-vwag-color-petrol-900);
    justify-content: center;
    color: var(--groupui-vwag-color-white);
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: -250px;
}

li {
    margin-left: 50px;
}

ul li:not(:first-child)::before {
    content: "\2022";
    color: var(--groupui-vwag-color-white);
    font-weight: bold;
    display: inline-block; 
    width: 2em;
    margin-left: -1em;
  }


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 700px) {
    body {
        width: 100%;
    }
}