select {
    padding: 5px;
}

.welcomeDiv {
    text-align: center;
    display: block;
}

.noDataText {
    text-align: center;
    font-weight: bold;
    margin-top: 60px !important;
}

.window {
    min-height: 500px;
    max-width: 100%;
}

.failed {
    color: red;
    font-weight: bold;
}

.successfull {
    color: green;
    font-weight: bold;
}

h3 {
    text-align: center;
    color: #f0f1f2 ;
}

table {
    overflow: hidden;
}

tr:hover {
    background-color: #ffa;
}

td,
th {
    position: relative;
    border-right: thin solid #A9A9A9;
}

td:hover::before {
    background-color: #ffa;
    content: '';
    height: 100%;
    left: -5000px;
    position: absolute;
    top: 0;
    width: 10000px;
    z-index: -2;
}


td:hover::after {
    background-color: #ffa;
    content: '';
    height: 10000px;
    left: 0;
    position: absolute;
    top: -5000px;
    width: 100%;
    z-index: -1;
}

@media only screen and (max-width: 950px) {}