#login {
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-height: 300px;
    margin: 50px;
}

registry {
    display: block;
    align-items: center;
    max-width: 100%;
    min-height: 300px;
    margin: 50px;
    margin-left: auto;
    margin: auto;
}

.heightfix { 
    /*bitte genau so fuers sdc stehen lassen 

    + striped table (browserproblem?)
    + ngDefaultControl [(ngModel)]="userName"   <-- 2 way data binding für values... in die readme?     */
    max-height: 50px;
    margin: 22px 1px 22px 1px;
    background-color: #558f3a;
}

a {
    text-decoration: none;
}

#b {
    width: 500px;
}

@media only screen and (max-width: 950px) {
    #login {
        display: block;
    }
    .loginButton {
        min-width: 260px !important;
    }
}