#login {
    display: flex;
    justify-content: center;
    max-width: 100%;
    min-height: 300px;
    margin: 50px;
}

#registry {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-height: 300px;
    margin: 50px;
}

.margin {
    margin-top: var(--groupui-spacing-4);
}

.center {
    text-align: center;
}

.heightfix { 
    max-height: 50px;
    margin: 22px 1px 22px 1px;
}

a {
    text-decoration: none;
}

#b {
    width: 500px;
}

@media only screen and (max-width: 950px) {
    #login {
        display: block;
    }
    .loginButton {
        min-width: 260px !important;
    }
}