<!-- Login -->
<div *ngIf="registryWindowVisible == false" id="login">
    <groupui-input [attr.variant]="isEmpty ? 'danger' : 'without variant'" label="Benutzername" ngDefaultControl [(ngModel)]="userName" placeholder="WVWZZZ1KZDP045466" description="Bitte Fin eingeben!" immutable="false" maxLength="17" text-transform="uppercase" message="Bitte Benutzername eintragen!" type="text"></groupui-input>
    <groupui-input [attr.variant]="wrongPassword ? 'danger' : 'without variant'" label="Passwort" ngDefaultControl [(ngModel)]="userPassword" placeholder="Geheim!" message="Falsches Passwort" variant="without variant" type="password"> </groupui-input>
    <groupui-button size="l" (click)="login()" class="loginButton heightfix">Login</groupui-button> 
    <groupui-button size="l" [attr.disabled]="succes ? 'true' : false" (click)="startRegistry()" class="registryButton heightfix">Registrieren</groupui-button> 
</div>

<!-- Registrieren -->
<div *ngIf="registryWindowVisible" id="registry">
    <div class="margin"><groupui-input 
    ngDefaultControl [(ngModel)]="newName"
    label="Benutzername"
    placeholder="WVWZZZ1KZDP045466"
    description="FIN eingeben"
    maxLength="17"
    pattern="[A-Za-z]{3}"
    text-transform="uppercase"
    message="Bitte gebe einen Benutzernamen ein!"
    [attr.variant]="newNameError ? 'danger' : 'without variant'"
></groupui-input></div>

    <div class="margin"><groupui-input
    ngDefaultControl [(ngModel)]="newPassword"
    label="Passwort"
    placeholder="Passwort"
    description="Gewünschtes Passwort eingeben"
    pattern="[A-Za-z]{3}"
    message="Bitte wähle ein Passwort!"
    [attr.variant]="newPasswordError ? 'danger' : 'without variant'"
    type="password"
    ></groupui-input></div>

    <div class="margin"><groupui-input
    ngDefaultControl [(ngModel)]="newPasswordCheck"
    label="Passwort erneut eingeben"
    placeholder="Passwort"
    description="Dient ihrer Sicherheit!"
    pattern="[A-Za-z]{3}"
    message="Die Passwörter stimmen nicht überein!"
    [attr.variant]="notTheSame ? 'danger' : 'without variant'"
    type="password"
    class="margin"
    ></groupui-input></div>

    <div class="margin center"><groupui-button size="l" (click)="registry()" class="loginButton heightfix">Bestätigen</groupui-button></div>
</div>